@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 초기화 */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #222;
    cursor: pointer;
}
ul,li{
    list-style: none;
}
body{
    font-family: 'Noto Sans KR','Roboto' sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 28px;
}
#wrap{
    width: 100%;
    height: auto;
}
/* header */
header{
    width: 100%;
    height: 60px;
}
.menu{
    float: left;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}
/* 로고 */
h1{
    float: left;
    width: 100px;
    line-height: 60px;
    margin: 0 20px;
}
h1 img{
    max-width: 100%;
}
/* 메뉴 */
nav{
    margin-right: 900px;
}
nav>ul>li{
    float: left;
    line-height: 60px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}
nav>ul>li:hover a{
    color: tomato;
}

.menu2{
    width: 300px;
    height: 60px;
    float: right;
    display: flex;
}
.menu2 > div{
    width: 25%;
    height: 60px;
}
.menu2 img{
    max-width: 50%;
    height: 35px;
    margin: 13px 19px;
}
.login{
    background-color: #d6d6d6;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
}
.signup{
    background-color: #cf1c1c;
    color: white;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
}
.login:hover{
    color: white;
    background-color: #3a3a3a;
    text-align: center;
    font-weight: 600;
}
.signup:hover{
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    font-weight: 600;
}

.main_banner{
    width: 100%;
    height: 300px;
    color: white;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    padding-top: 80px;
    text-align: center;
}
.main_banner h2{
    font-size: 40px;
}
.main_banner p{
    margin-top: 10px;
    font-size: 16px;
}

/* section2 이미지8개  */
.img_box{
    width: 1800px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.img_box > .big_box{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.big_box > div{
    width: 260px;
    height: 235px;
    background-color: #4d73db;
    margin-bottom: 36px;
    overflow: hidden;
}
.main_content .img{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
}

.main_content .img2{
    float: left;
    width: 300px;
    height: 200px;
}
.main_content .info{
    float: left;
    width: 700px;
    height: 200px;
    margin-left: 700px;
    font-size: 40px;
}
.info2{
    float: left;
    width: 560px;
    height: 150px;
    margin-left: 700px;
    background-color: violet;
    margin-bottom: 20px;
}
.info3{
    float: left;
    width: 560px;
    height: 150px;
    margin-left: 700px;
    background-color: violet;
    margin-bottom: 20px;
}
.info4{
    float: left;
    width: 560px;
    height: 150px;
    margin-left: 700px;
    background-color: violet;
}
.PDF{
    width: 100%;
    height: auto;
    padding: 100px 0;
    margin-top: 800px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    color: #000000;
    font-size: 20px;
}
.Premium{
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: rgb(59, 55, 55);
    text-align: center;
    color: #fafafa;
    font-size: 20px;
}
.btn{
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(231, 181, 16);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(231, 181, 16);
    border-radius: 30px;
    margin: 50px auto;
}
.btn:hover{
    background-color: rgb(255, 216, 137);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.list_box{
    width: 1200px;
    overflow: hidden;
    margin: 100px auto;
}
.list_box div{
    width: 25%;
    float: left;
}
.list_box > div > ul{
    width: 100%;
    margin: 0 auto;
}
.list_box > div > ul > li{
    font-size: 16px;
}
span{
    color: tomato;
}
